body{
    font-family:sans-serif;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: bisque;
    padding: 0px;
    margin:0px;
    overflow: auto;
}

.navbar a{
    text-decoration: none;
    color:black;
    padding:20px;
    display:block;
    text-align: center;
    font-size: 1.1em;
}

.navbar a:hover{
    background-color: rgb(243, 212, 174);
}

.navbar li{
    float:left;
}